{
  "openAi": {
    "OpenAi account": {
      "name": "OpenAi account",
      "type": "openAi",
      "data": {
        "apiKey": "{{$env.OPENAI_API_KEY}}"
      }
    }
  },
  "httpRequest": {
    "Default HTTP Request": {
      "name": "Default HTTP Request",
      "type": "httpRequest",
      "data": {}
    }
  }
}